.sausage_fly {
    width: 100px;
  height: auto;
  position: absolute;
  animation: randomMove 15s infinite linear;

}
@keyframes randomMove {
  0% {
    transform: translate(calc(0vw), calc(0vh));
  }
  25% {
    transform: translate(calc(25vw), calc(25vh));
  }
  50% {
    transform: translate(calc(50vw), calc(50vh));
  }
  75% {
    transform: translate(calc(75vw), calc(75vh));
  }
  100% {
    transform: translate(calc(100vw), calc(100vh));
  }
}

.container {
	object-fit: contain;
	margin:  auto;
	width: 100%;
    color: floralwhite;
    background-color: floralwhite;
}

.innerContainer {
    margin: auto;
    width: 95%;
    color: black;
    background-color: floralwhite;
    display: flex;
    height: 95%;
}

body {
	margin: 0;
	background-color: #181818;
}

header {
	background-color: #303030;
    width: 100%;
    text-align: center;
}

main {
    width: 100%;
    margin: auto;
    height: 530px;
}
.sausage_cursor {
    cursor: url('../images_and_other/file3.png') 4 21, auto;
}

nav {
	width: 100%;
	margin: 0;
    justify-content: center;
    display: flex;
    line-height: 4rem;
}

.div1 {
    margin: 0.5rem;
    width: 40%;
    background-color: floralwhite;
    height: auto;
}
.map {
    width: 100%;
    border: 1px solid black;
    border-radius: 30px;
    height: 70%;
}
.flagAndSausage {
    display: flex;
    width: 100%;
    height: 30%;
}
.flag {
    width: 40%;
    background-size: 100%;
    background-repeat: no-repeat;
}
.playerSausageNum {
    width: 60%;
    border: 1px solid black;
    border-radius: 30px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    background-color: #e0feff;
}



.div2 {
    margin: 0.5rem;
    width: 50%;
    background-color: floralwhite;
}
.div2_1 {
    height: 60%;
    width: 100%;
    align-content: center;
    display: flex;
    border-radius: 30px;
    border: 1px solid black;
    background-image: url("../images_and_other/makkaramania_afrikan_tahti.png");
    animation: moveIt 20s ease-in-out infinite;
}

@keyframes moveIt {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
.div2_box1 {
    width: 50%;
    align-content: center;
}
.div2_box2 {
    width: 50%;
    align-content: center;
}
.sausage_hunt {
    height: 50%;
    border-radius: 30px;
    align-content: center;
    text-align: center;
    color: white;
}
.garbage {
    height: 50%;
    border-radius: 30px;
    align-content: center;
    text-align: center;
    color: white;
}
.tax_free {
    height: 50%;
    border-radius: 30px;
    align-content: center;
    text-align: center;
    color: white;
}
.taxfree_img {
    background-image: url("../images_and_other/taxfree.png");
    background-position: center;
    background-size: 100%;
    opacity: 0.85;
}
.airport {
    height: 50%;
    border-radius: 30px;
    align-content: center;
    text-align: center;
    color: white;
}
dialog {
    border-radius: 10px;
}
dialog button {
    border-radius: 20px;
    padding: 0.5em;
}

button {
    border-radius: 20px;
    padding: 0.5em;
    font-weight: bolder;
}




.div2_2 {
    height: 10%;
    text-align: center;
    width: 100%;
    margin: auto;
}
.div2_3 {
    height: 30%;
    width: 100%;
    display: flex;
}
.div2_3_all_four {
    width: 25%;
    margin: 0.25rem;
    border: 1px solid black;
    border-radius: 30px;
    font-weight: bolder;
    text-align: center;
    background-color: #e0feff;
}




.div3 {
    margin: 0.5rem;
    border-radius: 30px;
    border: 1px solid black;
    width: 10%;
    height: 100%;
    background-color: floralwhite;
    align-content: center;
}
.side_bar {
    height: 80%;
    width: 100%;
    align-content: center;
}
.instructions_and_high_score {
    width: 60%;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 20px;
    padding: 0.5em;
    font-weight: bolder;
    background-color: #e0feff;
}
.game_board_inst {
    background-image: url("../images_and_other/makkaramania_afrikan_tahti.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40%;
}

#nameForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }